In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['lgbm-model', 'bike-sharing-demand', 'xgboost']

# 데이터 불러오기

In [2]:
lgbm_data = pd.read_csv("../input/lgbm-model/lgbm_casual_registered.csv")
xgboost_data = pd.read_csv("../input/xgboost/script.csv")

In [3]:
lgbm_data.head()

              datetime      count
0  2011-01-20 00:00:00  12.214945
1  2011-01-20 01:00:00   5.750223
2  2011-01-20 02:00:00   3.205213
3  2011-01-20 03:00:00   1.878348
4  2011-01-20 04:00:00   1.595200

In [4]:
xgboost_data.head()

              datetime      count
0  2011-01-20 00:00:00  14.327770
1  2011-01-20 01:00:00   5.490347
2  2011-01-20 02:00:00   3.234484
3  2011-01-20 03:00:00   2.032536
4  2011-01-20 04:00:00   1.853400

In [5]:
pred_df = lgbm_data.copy()

# 두 가지 모델 (lgbm, xgboost)을 사용한 prediction을 앙상블 블렌딩

In [8]:
pred_df["count"] = lgbm_data["count"]*0.48 + xgboost_data["count"]*0.52

0.48 0.52값은 파라미터 튜닝으로 찾아낸것

# 도메인지식 활용
이 데이터의 문제점은, 우리가 학습하는 train data는 모든 월의 1~19일이고 20~31일까지의 데이터를 test로 쓴다는 것이다.
train 데이터셋의 holiday와 test 데이터셋의 holiday날짜들은 조금 다른 성격을 띤다. 
test data셋의 holiday는 크리스마스, 크리스마스이브, 추수감사절 등으로 자전거를 많이 타지 않는 공휴일이다. 
따라서 그 값들을 수동으로 보정해준다.

In [11]:
#크리스마스 이브
pred_df.iloc[6308:6330, 1]= pred_df.iloc[6308:6330, 1]*0.5
pred_df.iloc[3041:3063, 1]= pred_df.iloc[3041:3063, 1]*0.5
#크리스마스
pred_df.iloc[6332:6354, 1]= pred_df.iloc[6332:6354, 1]*0.5
pred_df.iloc[3065:3087, 1]= pred_df.iloc[3065:3087, 1]*0.5
#추수감사절
pred_df.iloc[6262:6284, 1]= pred_df.iloc[6262:6284, 1]*0.5
pred_df.iloc[2730:2752, 1]= pred_df.iloc[2730:2752, 1]*0.5

In [12]:
pred_df.head()

              datetime      count
0  2011-01-20 00:00:00  13.313614
1  2011-01-20 01:00:00   5.615088
2  2011-01-20 02:00:00   3.220434
3  2011-01-20 03:00:00   1.958526
4  2011-01-20 04:00:00   1.729464

In [13]:
# sub = pd.read_csv("../input/bike-sharing-demand/sampleSubmission.csv") 
# sub = pred_df
# sub.to_csv("lgbm_ensemble_domain.csv", index=False)
# sub.head()

# 제출!

In [ ]:
pred_df.to_csv("final.csv", index=False)

# 결과
public score 0.36023 

rank 13